[flake8]
exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
    # generated tests
    tests/generated
    # the files here are expected to be exact. Otherwise tests will fail
    tests/test_data/result
    tests/test_data/input
    # the test files here are expected to be exact.
    # They may be used as input. Otherwise tests will fail
    tests/test_data/test_*.py

max-complexity = 10

# per Black's recommendation
# https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html
max-line-length = 88
select = C,E,F,W,B,B950
extend-ignore = E203, E501, W503